@import "tailwindcss";
/* @config "../../tailwind.config.cjs"; */

@utility mask-to-t {
	mask: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8) 40%,
		rgba(0, 0, 0, 1) 100%
	);

	--webkit-mask-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8) 30%,
		rgba(0, 0, 0, 1) 100%
	);
}

@theme {
	--animate-blur-reveal: blur-reveal 1s cubic-bezier(0.25, 0.1, 0.25, 1)
		forwards;
	@keyframes blur-reveal {
		0% {
			filter: blur(8px);
			opacity: 0;
			transform: translateY(20px);
		}
		100% {
			filter: blur(0);
			opacity: 1;
			transform: translateY(0);
		}
	}
}
