---
import Layout from "../layouts/Layout.astro"
import PostCard from "../components/PostCard.astro"

const posts = await Astro.glob("../data/*.md")
const sortedPosts = posts.sort(
	(a, b) =>
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.date).valueOf(),
)
---

<Layout title="blog">
	<h1
		class="text-3xl font-bold mb-8 animate-blur-reveal opacity-0 [animation-delay:_100ms]">
		my blog
	</h1>
	<section class="flex flex-col gap-8">
		{
			sortedPosts.map((blog, i) => (
				<div
					class={`animate-blur-reveal opacity-0 [animation-delay:_${150 + i * 50}ms]`}>
					<PostCard {blog} />
				</div>
			))
		}
	</section>
</Layout>
