---
import PostCard from "../components/PostCard.astro"
import SocialLinks from "../components/SocialLinks.astro"
import Layout from "../layouts/Layout.astro"

let allPosts = await Astro.glob("../data/*.md")
allPosts = allPosts.sort(
	(a, b) =>
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.date).valueOf(),
)
const recentPosts = allPosts.slice(0, 2)
const pinnedPost = allPosts.find(
	(post) => post.frontmatter.slug == "hello-world",
)
---

<Layout title="Developer">
	<main
		class="pt-10"
		<section class="">
			<h1>
				Hello there! My name is Radoje and I am a web developer with a focus on
				frontend development using modern technologies. I have a passion for
				creating scalable, efficient, and reliable software solutions and I am
				always looking for ways to improve my skills and knowledge in this
				field.
			</h1>
			<div class="mb-6">
				<p class="mb-2 mt-4">Social links:</p>
				<SocialLinks />
			</div>
		</section>

		<section class="border-t py-12">
			<h2 class="mb-6 text-2xl font-medium">Recent Posts</h2>

			<section class="[&>:where(article:not(:first-child))]:my-6">
				<PostCard post={pinnedPost} />
				{
					recentPosts.length > 1
						? recentPosts.map((post) => {
								return <PostCard post={post} />
						  })
						: null
				}
			</section>

			<div class="my-8 flex items-center">
				<a
					href="/posts"
					class="group mx-auto flex items-center gap-2 decoration-wavy underline-offset-4 hover:underline">
					<p class="bg-white dark:bg-black">All Posts</p>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						class="relative -left-6 -z-10 hidden transition-all group-hover:-left-0 group-hover:animate-slide-left dark:fill-white md:block"
						fill="#000000"
						viewBox="0 0 256 256"
						><path
							d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
						></path></svg
					>
				</a>
			</div>
		</section>
	</main>
</Layout>
