---
import Layout from "../layouts/Layout.astro"
import Tag from "../components/Tag.astro"
import TechStack from "../data/tech_stack.json"
import Footer from "../components/Footer.astro"
---

<Layout title="home">
	<article class="flex items-center justify-between mb-8 flex-wrap">
		<h1 class="text-3xl">hi, i'm radoje 👋</h1>
		<button class="px-6 py-2 border rounded border-zinc-700 text-sm"
			>Resume</button
		>
	</article>
	<article class="flex flex-col gap-4">
		<p>
			Hi, I’m Radoje Jezdic — a
			<mark class="bg-neutral-100 text-black rounded-sm px-1"
				>Full Stack Developer</mark
			>
			based in Serbia 🇷🇸.
		</p>
		<p>
			I build fast, reliable, and scalable web applications with a focus on
			<mark class="bg-neutral-100 text-black rounded-sm px-1">clean code</mark> and
			<mark class="bg-neutral-100 text-black rounded-sm px-1"
				>user-centered performance</mark
			>.
		</p>
		<p>
			You can explore some of my recent work on the <a
				class="inline-block after:transition-all after:w-full after:h-[1px] after:block after:bg-white"
				href="/work"
				>works</a
			> page.
		</p>
		<p>
			I’m always open to new opportunities, collaborations, and solving
			meaningful problems — feel free to get in touch!
		</p>
	</article>

	<article class="flex items-center gap-3 mt-8 flex-wrap">
		{TechStack.map((ts) => <Tag {...ts} />)}
	</article>

	<Footer />
</Layout>
