---
// export const prerender = true // static render

import PostCard from "../components/PostCard.astro"
import Layout from "../layouts/Layout.astro"
const allPosts = await Astro.glob("../data/*.md")
const allSortedPosts = allPosts.sort(
	(a, b) =>
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.date).valueOf(),
)
---

<Layout title="Developer | Posts">
	<main class="py-10">
		<h1 class="text-2xl font-medium leading-8">Posts</h1>
		<h2 class="mb-6 italic">Discover the World Through My Eyes.</h2>
		<section class="[&>:where(article:not(:first-child))]:my-6">
			{allSortedPosts.map((post) => <PostCard post={post} />)}
		</section>
	</main>
</Layout>
