---
import Layout from "../layouts/Layout.astro"
import WorkCard from "../components/WorkCard.astro"
import work_data from "../data/work.json"
---

<Layout title="work">
	<section class="space-y-8">
		{work_data.map((work) => <WorkCard {work} />)}
	</section>
</Layout>
