---
const { href, link, currentPath, path } = Astro.props
---

<a
	href={href}
	class="[&>:where(span)]:hover:visible">
	<span class={currentPath === path ? "inline" : "invisible"}>[</span>
	<span>{link}</span>
	<span class={currentPath === path ? "inline" : "invisible"}>]</span>
</a>

<script define:vars={{currentPath}}>
	console.log(currentPath)
</script>
