---
const { href, link, currentPath, path } = Astro.props
function removeTrailingSlash(str: string) {
  return str.replace(/\/+$/, '');
}

const canonicalUrl = removeTrailingSlash(new URL(href, Astro.site).toString());
---

<a
	href={canonicalUrl}
	class="[&>:where(span)]:hover:visible">
	<span class={currentPath === path ? "inline" : "invisible"}>[</span>
	<span>{link}</span>
	<span class={currentPath === path ? "inline" : "invisible"}>]</span>
</a>
