---
import { Image } from "astro:assets"

import gh from "/src/assets/github.svg"
import lin from "/src/assets/linkedin.svg"
---

<footer class="flex flex-col justify-between mt-12 flex-wrap gap-4">
	<ul class="flex items-center gap-4 flex-wrap text-neutral-300">
		<li>
			<a
				href="https://github.com/Jezda1337"
				rel="noopener noreferrer"
				target="_blank"
				aria-label="Check my GitHub profile for more tech view"
				class="flex items-center gap-2 hover:text-neutral-100 transition-all">
				<Image
					src={gh}
					alt="GitHub logo"
				/>
				<span>github</span>
			</a>
		</li>
		<li>
			<a
				href="https://linkedin.com/in/radoje-jezdic"
				rel="noopener noreferrer"
				target="_blank"
				aria-label="Check my linkedin profile for more details."
				class="flex items-center gap-2 hover:text-neutral-100 transition-all">
				<Image
					src={lin}
					alt="Linkedin logo"
				/>
				<span>linkedin</span>
			</a>
		</li>
	</ul>
	<p>© 2025 Radoje Jezdic. All rights reserved.</p>
</footer>
