---
import CustomLink from "./CustomLink.astro";
const pathname = new URL(Astro.request.url).pathname
// pathname.length - 1 coz prod makes slash at the end for no reason
const currentPath = pathname.slice(1, pathname.length - 1)
---

<header class="border-b py-8">
	<nav class="flex justify-between">
		<a
			href="/"
			class="text-2xl font-medium"
			>Developer</a
		>
		<ul class="flex gap-3">
			<li>
				<CustomLink currentPath={currentPath} path="posts" href="/posts" link="posts" />
			</li>
			<li>
				<CustomLink currentPath={currentPath} path="work" href="/work" link="work" />
			</li>
		</ul>
	</nav>
</header>

