
  <!-- HTML Meta Tags -->
  <title>Developer</title>
  <meta name="description" content="FullStack Developer by day, Hacker by night.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://radoje.dev">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Developer">
  <meta property="og:description" content="FullStack Developer by day, Hacker by night.">
  <meta property="og:image" content="https://media.giphy.com/media/LWJ7cKyiWPCnVyuAhT/giphy.gif">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="radoje.dev">
  <meta property="twitter:url" content="https://radoje.dev">
  <meta name="twitter:title" content="Developer">
  <meta name="twitter:description" content="FullStack Developer by day, Hacker by night.">
  <meta name="twitter:image" content="https://media.giphy.com/media/LWJ7cKyiWPCnVyuAhT/giphy.gif">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        
