---
import { ViewTransitions } from "astro:transitions"
import MetaData from "../components/MetaData.astro"
import Header from "../components/Header.astro"
import "@fontsource/dm-mono"
import "@fontsource/dm-mono/500.css"
import Footer from "../components/Footer.astro"
const { title } = Astro.props
---

<html lang="en">
	<head>
		<ViewTransitions />
		<MetaData />
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<meta
			name="description"
			content="Put your description here."
		/>
		<title>{title}</title>
	</head>
	<body class="bg-white font-dm-mono dark:bg-black dark:text-white">
		<div class="mx-auto flex min-h-[100dvh] max-w-3xl flex-col px-4">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>
