---
import { ViewTransitions } from "astro:transitions"
import MetaTags from "../components/MetaTags.astro"
import "@fontsource/poppins"
import Navigation from "../components/Navigation.astro"
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link
			rel="manifest"
			href="/site.webmanifest"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<ViewTransitions />
		<MetaTags />
		<title>{title}</title>
		<style>
			body {
				font-family: "Poppins", sans-serif;
			}
		</style>
	</head>
	<body class="bg-black text-white leading-7">
		<main class="mx-auto flex min-h-[100dvh] max-w-[600px] pt-[50px] flex-col">
			<Navigation />
			<slot />
		</main>
	</body>
</html>
