---
import "../styles/global.css"
import MetaTags from "../components/MetaTags.astro"
import "@fontsource/poppins"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
const { title } = Astro.props
---

<!-- ViewTransition API is disabled bcs animations, its a baggy so i skip this for now -->
<html
	lang="en"
	style="scrollbar-gutter: stable;">
	<head>
		<meta charset="utf-8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link
			rel="manifest"
			href="/site.webmanifest"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<MetaTags />
		<title>{title}</title>
		<style>
			body {
				font-family: "Poppins", sans-serif;
				a:hover,
				button:hover {
					cursor:
						url("https://cdn.custom-cursor.com/db/pointer/32/Banana_Pointer.png"),
						pointer;
				}
			}
		</style>
	</head>
	<body
		class="bg-black text-white leading-7 text-balance will-change-auto cursor-[url(https://cdn.custom-cursor.com/db/cursor/32/Banana_Cursor.png),_pointer]">
		<main
			class="mx-auto flex min-h-[100dvh] max-w-[600px] pt-[50px] flex-col px-4 md:px-0 after:bg-red-500">
			<div class="fixed top-0 w-full h-12 left-0 z-10">
				<div class="backdrop-blur-[0px] mask-to-t absolute w-full top-0 h-full">
				</div>
				<div
					class="backdrop-blur-[0.3px] mask-to-t absolute w-full top-0 h-full">
				</div>
				<div
					class="backdrop-blur-[0.6px] mask-to-t absolute w-full top-0 h-full">
				</div>
				<div
					class="backdrop-blur-[1.2px] mask-to-t absolute w-full top-0 h-full">
				</div>
				<div class="backdrop-blur-[2px] mask-to-t absolute w-full top-0 h-full">
				</div>
			</div>
			<Navigation />
			<slot />
			<Footer />
		</main>
	</body>
</html>
